<!DOCTYPE html>
<html>
<title>Superstars</title>

<head>
  <link rel="stylesheet" href="./app.component.css">
  <link rel="icon" href="Superstars.jpg" type="image/icon type">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="body">
    <div id="header">
        <p id="user-name">Sachar Golan</p>
        <img id="user-image" src="Images/user.png" alt='image'>
        <img id="play-icon" src="Images/play.png" alt='image'>
        <p id="professional-title">Young Professional</p>
        <button class="social-button" id="follow-button">Follow</button>
        <button class="social-button" id="endorse-button">Endorse</button>
        <button class="social-button" id="resume-button">Resume</button>
        <!-- <img id="resume-button-image" src="C:\Users\aryan\Downloads\Vector (2).png"> -->
        <p id="connect-button">Connect</p>
        <img class="connect-button-image" src="Images/connect.png">
        <!-- add connect plus -->
        <!-- <img class="connect-button-image" src="C:\Users\aryan\Downloads\Vector (4).png"> -->

        <p id="current-position">Co-Founder + CEO at Superstars</p>
        <p id="job-role">Headhunting & Executive Search</p>
        <p id="job-description">2x CEO, tech entrepreneur, team leader
            Fmr. Wall Street Exec | MBA NYU, B.S. Wharton</p>

        <p id="current-location">Orlando, FL, USA</p>
        <p id="star-points" class="stats">Star Points</p>
        <p id="followers" class="stats">Followers</p>
        <p id="endorsements" class="stats">Endorsements</p>
        <p id="handle">@shachar</p>
   
    </div>

    <div id="recommended">
        <p id="recommended-for-you">Recommended for you</p>
    </div>

</div>

  <div class="navbar">
    <img src="Superstars.jpg" alt="logo"
      style="width: 34px; height: 33px; left: 12%; top: 0px; margin-left: 12%; margin-top: 10px;">
    <input type="text" placeholder=" Search..">
    <!-- add search logo -->
    <a href="#Me">Me</a>
    <a href="#Notification">Notification</a>
    <a href="#contact">Network</a>
    <a href="#about">Action</a>
    <img src="Images/Home.png" alt="logo" style="width: 34px; height: 33px; left: 12%; top: 0px; margin-left: 12%; margin-top: 10px;">
    <a class="active" href="#home"><!--<i class="fa fa-home"></i>--><img src="Images/Home.png" alt="logo" style="width: 18px; height: 22px; left: 45%;">Home</a>
    <div class="vl"></div>
    <button type="button" id="Upload">Upload</button>
    <button type="button" id="Login">Login</button>
    <!-- <button class="btn"><i class="fa fa-home"></i> Home</button> -->


  </div>

  <div id="left"> 
    <h1 id="titles" style=" left: 90px; top: 17px;">Posts</h1>
    <h1 id="titles" style=" left: 285px; top: 17px;">Stories</h1>
    <h1 id="titles" style=" left: 458px; top: 17px;">Endorsements</h1>
    <h1 id="titles" style=" left: 680px; top: 17px;">VideoResume</h1>

    <hr id="bigTag">
    <hr id="currPage">

    <!-- we can use the same CSS and change the position of each image inline -->
    <img id="posts" src="Images/image4.png" alt='image' style="left: 1px; top: 59px;">
    <img id="posts" src="Images/image1.png" alt='image' style="left: 220px; top: 59px;">
    <img id="posts" src="Images/image2.png" alt='image' style="left: 442px; top: 59px;">
    <img id="posts" src="Images/image3.png" alt='image' style="left: 664px; top: 59px;">

    <!-- second row  -->
    <img id="posts" src="Images/image5.png" alt='image' style="left: 1px; top: 286px;">
    <img id="posts" src="Images/image6.png" alt='image' style="left: 220px; top: 286px;">
    <img id="posts" src="Images/image7.png" alt='image' style="left: 442px; top: 286px;">
    <img id="posts" src="Images/image8.png" alt='image' style="left: 664px; top: 286px;">

  </div>

  
</body>

</html>



