<!DOCTYPE html>
<html>
<title>Superstars</title>

<head>
  <link rel="stylesheet" href="./app.component.css">
  <link rel="icon" href="Superstars.jpg" type="image/icon type">
</head>

<body>
<div class="navbar">
  <img src="Superstars.jpg" alt="logo" style="width: 34px; height: 33px; left: 0px; top: 0px; margin-left: 12%; margin-top: 10px;">
  <input type="text" placeholder=" Search..">
  <a class="active" href="#home">Home</a>
  <a href="#about">Action</a>
  <a href="#contact">Network</a>
  <a href="#Notification">Notification</a>
  <a href="#Me">Me</a>
</div>
<button type="button">Upload</button> -->
  <!-- <button type="button">Click Me!</button>
  <!-- Get back end code to get User's Name for this -->
  <br><br>
  <h1 id="Name">User's Name</h1>
</body>

</html>
 