<!DOCTYPE html>
<html>
<title>Superstars</title>

<head>
  <link rel="stylesheet" href="./app.component.css">
  <link rel="icon" href="Superstars.jpg" type="image/icon type">
</head>

<body>
  <div class="navbar">
    <img src="Superstars.jpg" alt="logo"
      style="width: 34px; height: 33px; left: 12%; top: 0px; margin-left: 12%; margin-top: 10px;">
    <input type="text" placeholder=" Search..">
    <a href="#Me">Me</a>
    <a href="#Notification">Notification</a>
    <a href="#contact">Network</a>
    <a href="#about">Action</a>
    <a class="active" href="#home">Home</a>
    <div class="vl"></div>
    <button type="button" id="Upload">Upload</button>
    <button type="button" id="Login">Login</button>
  </div>

  <!-- Get back end code to get User's Name for this -->
  <br><br>
  <h1 id="Name">User's Name</h1>
</body>

</html>