/* add variables so I will have name title */
p {
  font-family: 'Calibri';
  font-weight: 700;
}

body {
  background: #F5F5F5;
}

/* Name */
.h1 #Name {
  position: absolute;
  width: 348px;
  height: 21px;
  left: 340px;
  top: 98px;

  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: center;

  color: #191919;

}

/* Nav bar */

.navbar {
  position: absolute;
  width: 1440px;
  height: 53px;
  left: 0px;
  top: 0px;

  /* White */

  background: #FFFFFF;
}

/* Search bar */
.navbar input[type=text] {
  position: absolute;
  width: 280px;
  height: 34px;
  left: 0px;
  top: 5px;
  margin-left: 16px;

  background: #EEF3F8;
  border-radius: 4px;
  clear: both;
}

/* Tabs */
.navbar a {
  float: right; /* added */
  left: 0%;
  right: 0%;
  top: 58.82%;
  bottom: 11.76%;
  margin-left: 20px;
  position: relative;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #A3A3A3;

  /* width: 50%; */
}

