/* add variables so I will have name title */
p {
  font-family: 'Calibri';
  font-weight: 700;
}

body {
  background: #F5F5F5;
}

/* From Figma */
.h1 #Name {
  position: absolute;
  width: 348px;
  height: 21px;
  left: 340px;
  top: 98px;

  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: center;

  color: #191919;

}